{% include 'head.html' %}

<body class="p-sm-3">
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <a href="{% url 'algorithm-list' %}"><- terug</a>
            <h2>{{ object.name }}</h2>
            <h4>Maandag dag</h4>
            {% include 'controls.html' %}
        </div>
        <div class="col-9">
            {% include 'map.html' %}
        </div>
    </div>
</div>
{% include 'json.html' %}
{% include 'script_color_scheme.html' %}
{% include 'script_pins.html' %}
{% include 'script_maps.html' %}
{% include 'script_multiselect.html' %}
{% include 'script_sliders.html' %}
</body>

</html>
