{% include 'head.html' %}

<body class="p-sm-3">
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h1>BWV tables & columns</h1>
        </div>
        <div class="col-9">
            {% for t in tables %}
            <div>
                <h3>{{ t.name }}</h3>
                <ul>
                {% for c in t.columns %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>

</html>
