<div class="form-group">
    <label for="start_case_id">Start from case:</label>
    <input id="start_case_id" class="form-control" type="text" name="start_case_id" value="{{ start_case_id }}"
           placeholder="Case ID"/>
</div>


<div class="form-group">
    <label for="length_of_list">Length of lists:</label>
    <input id="length_of_list" class="form-control" type="number" name="length_of_list" value="{{ length_of_list }}"/>
</div>

<div class="form-group">
    <label for="opening_date">Date:</label>
    <input id="opening_date" class="form-control" type="text" name="opening_date" value="{{ selected_opening_date }}"/>
</div>

<div class="form-group">
    <label for="projects">Projects:</label>
    <div class="multi-select-wrapper">
        <select id="projects" name="projects" multiple>
            {% for opening_reason in projects %}
                <option value="{{ opening_reason }}" {% if opening_reason in selected_projects %} selected {% endif %}>
                    {{ opening_reason }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group">

    <label for="main_stadium">Primary Stadium:</label>
    <div class="multi-select-wrapper">
        <select id="main_stadium" name="main_stadium">
            <option value="">None</option>
            {% for stadium in stadia %}
                <option value="{{ stadium }}" {% if stadium == main_stadium %} selected {% endif %}>
                    {{ stadium }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group">
    <label for="stadia">Secondary Stadia:</label>
    <div class="multi-select-wrapper">
        <select id="stadia" name="stadia" multiple>
            {% for stadium in stadia %}
                <option value="{{ stadium }}" {% if stadium in selected_stadia %} selected {% endif %}>
                    {{ stadium }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group">
    <label for="exclude_stadia">Exclude:</label>
    <div class="multi-select-wrapper">
        <select id="exclude_stadia" name="exclude_stadia" multiple>
            {% for stadium in stadia %}
                <option value="{{ stadium }}" {% if stadium in selected_exclude_stadia %} selected {% endif %}>
                    {{ stadium }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
