# Core
Django==3.0.7


# Rest apis
djangorestframework==3.11.0
django-cors-headers==3.4.0
drf-spectacular==0.9.8

# Logging
sentry-sdk==0.15.1

# Testing
freezegun==0.3.15

# Settings
django-constance[database]==2.6.0

# Other
requests==2.23.0
django-filter==2.3.0

# Authentication
mozilla-django-oidc==1.2.3
djangorestframework-simplejwt==4.4.0

# Algorithm toolbox
geopy==1.22.0
joblib==0.15.1
scikit-learn==0.23.1
numpy==1.18.5
