# Core
Django==3.1.2
psycopg2
celery

# Rest apis
djangorestframework==3.12.1
django-cors-headers==3.5.0
drf-spectacular==0.10.0

# Logging
sentry-sdk==0.19.1

# Testing
freezegun==1.0.0
model_bakery

# Settings
django-constance[database]==2.7.0

# Other
requests==2.24.0
django-filter==2.4.0
tenacity
django-health-check

# Authentication
git+https://github.com/petercuret/keycloak_oidc.git@master
djangorestframework-simplejwt==4.4.0

# Algorithm toolbox
geopy==2.0.0
joblib==0.17.0
scikit-learn==0.23.2
numpy
