name: 'Install, lint, test & build'
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Linting
      run: bash cleanup.sh
    - name: Create Docker Looplijsten Backend network
      run: docker network create looplijsten_backend
    - name: Create Docker Top and Zaak Backend Bridge network
      run: docker network create top_and_zaak_backend_bridge
    - name: Build Docker image
      run: docker-compose up -d
    - name: Run Tests
      run: docker-compose exec -T api python manage.py test
